body{
    margin:0 auto;
    font-family:Geneva;
 }
 .flex-container {
    display: flex;
    flex-direction: row;
    background-color:darkgoldenrod;
    justify-content:flex-start; 
    width: 100%;
    }
.flex-container > div {
    background-color:darkgoldenrod;
    padding:20px ;
    }
.nav-links{
    text-decoration: none;
    color:black;
    font-size: 25px;
}
.nav-links:hover{
    color:white;
    font-weight: bolder;
}

.home-head{
    font-size: 30px;
    text-align: center;
    color:white;
}
.home-intro{
    text-align: center;
    font-size: 25px;
    color:white;
    font-weight: 800;
    width:800px;
    margin-left:20%;
}
.bg{
    background-image:url(3.jpg);
    width:100%;
    height:auto;
    background-size: cover;
    background-position: center;  
    width:inherit;
    max-width:inherit;
}

/* contact me */
.contact{
    margin: 30px 0px 0px 10%;
    text-align: center;
    padding-right: 20%;
    padding-left: 10%;
}
.c-links{
    text-decoration: none;
    color: black;
}
.contact-details{
    text-align: left;
    padding-left: 25%;
    align-items: center;  
}
.logos{
    width:30px;
    margin-top: 20px;
    text-align: center;
   margin-right: 7px;
}
.contact-heading{
    font-size: 60px;
    margin:0% 5% 5% 5%;
    text-align: center;
}
.btn{
    text-decoration: none;
    border:0.5px solid white;
    background-color:#CE7777;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 15px;
}
.spa{
    position: relative;
}
.sp{
    position: absolute;
    bottom:7px;
    padding-left: 3px;
}

/* about  */
.about{
    text-align: center;
    padding:10px;
}
#abody{
    background-color:skyblue;
}
.about p{
    font-size: larger;
    font-weight: 400;
    color: #263159;
    margin: 0% 30% 0 30%;
}
.about-heading{
    font-size:60px;
    display:inline;
}
.about-img{
    margin-top:15px;
    height:40px;
    width:70px;
    border-radius: 50%;
    margin-left:15px; 
}
.about-head{
    margin-bottom: 50px;
} 
.ppimg{
    width:250px;
    height:250px;
    border: 5px dashed mediumvioletred;
}
.aboutform{
    text-align:center;
    color:crimson;
}

/* feedback */
.field{
    margin: 10px 0px;
}
.form{
    text-align: center;
}
.feed-head{
    font-size: 60px;
}

/* Gallery */
.gallery-head{
    text-align: center;
    font-size: 60px;
    font-weight: 800;
}
.grid-container{
    display:flex;
    column-gap: 5px;
    row-gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.grid-item{
    height:300px;
    width:450px;   
}
.gallery-body *{
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .nav-links{
        font-size: 20px;
    }
    .contact-heading,.gallery-head,.feed-head{
        font-size: 30px;
    }
    .home-intro{
        font-size: 20px;
      margin-left:10px;
        width:550px;
    }
    .grid-item{
        height:200px;
        width:350px;   
    }
  }